@charset "UTF-8";

@-webkit-keyframes glow {
    0% {
        -webkit-box-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
        border-color: rgba(0,0,255,0.5);
    }
    100% {
        -webkit-box-shadow: 0 0 16px rgba(66, 140, 240, 1.0), 0 0 36px rgba(0, 140, 255, 1.0);
        border-color: rgba(0,0,255,1.0);
    }
}
@-moz-keyframes glow {
    0% {
        -moz-box-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
        border-color: rgba(0,0,255,0.5);
    }
    100% {
        -moz-box-shadow: 0 0 16px rgba(66, 140, 240, 1.0), 0 0 36px rgba(0, 140, 255, 1.0);
        border-color: rgba(0,0,255,1.0);
    }
}
@-o-keyframes glow {
    0% {
        box-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
        border-color: rgba(0,0,255,0.5);
    }
    100% {
        box-shadow: 0 0 16px rgba(66, 140, 240, 1.0), 0 0 36px rgba(0, 140, 255, 1.0);
        border-color: rgba(0,0,255,1.0);
    }
}
@keyframes glow {
    0% {
        box-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
        border-color: rgba(0,0,255,0.5);
    }
    100% {
        box-shadow: 0 0 16px rgba(66, 140, 240, 1.0), 0 0 36px rgba(0, 140, 255, 1.0);
        border-color: rgba(0,0,255,1.0);
    }
}

/*------------------------wrapper---------------------------*/
body {
    margin: 0;
    padding: 0;
}
#wrap {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
#imgBox {
    margin: 0 auto;
    height: 100%;
    width: 800px;
}
#imgBox #imgs {
    position: absolute;
    z-index: 1;
}
#imgBox img {
    width: 100%;
    height: 100%;
}
#imgBox #word {
    position: absolute;
    z-index: 2;
}

/*------------------------content---------------------------*/
#content {
    margin: 0 auto;
    width: 800px;
}

#point {
    width: 20px;
    height: 20px;
    background-color: #127F78;
    text-shadow: rgba(20, 20, 20, 0.5) 1px 1px 5px;
    text-align: center;
    -webkit-box-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
    box-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
}

#point:hover, #menu .item:hover {

    -webkit-animation-name: glow;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;

    -moz-animation-name: glow;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-timing-function: ease-in-out;

    -o-animation-name: glow;
    -o-animation-duration: 1s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: alternate;
    -o-animation-timing-function: ease-in-out;

    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#menu {
    margin-top: 20px;
    margin-left: 10px;
}
#menu .item {
    float: left;
    display: none;
    width: 15px;
    height: 15px;
    background-color: #127F78;
    opacity: 0.8;
    margin-left: 40px;
    cursor: pointer;
}



/*------------------------footer---------------------------*/
#footer {
    display: none;
}
