@charset "UTF-8";

@keyframes glow {
    0% {
        background: rgba(18, 127, 120, 1);
    }
    50% {
        background: rgba(18, 127, 120, 0);
    }
    100% {
        background: rgba(18, 127, 120, 1);
    }
}

body {
	font-family: "sinanova", "PMingLiu", "Microsoft YaHei", sans-serif;
	font-size: 2.5em;
	margin: 0;
    padding: 0;
}

/*------------------------life---------------------------*/
.life {
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    /* margin: 0 auto; */
    /* width: 680px; */
    /* height: 680px; */
    position:absolute;
    width:50%;
    height:50%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border: .1rem solid #bbb;
}
.life .item {
    border: .1rem solid #bbb;
}
.life .item.record {
    transition: all 2s ease-in-out;
    border: .1rem dashed #bbb;
    background: rgba(18, 127, 120, 1);
}
.life .item.record:hover {
    animation-name: glow;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}