@-webkit-keyframes chgcolor {
    0% { background-color: rgb(18, 127, 120); width: 20px; }
    100% { background-color: rgba(35, 159, 240, 0.50); width: 40px; }
}
@-moz-keyframes chgcolor {
    0% { background-color: rgb(18, 127, 120); width: 20px; }
    100% { background-color: rgba(35, 159, 240, 0.50); width: 40px; }
}
@-o-keyframes chgcolor {
    0% { background-color: rgb(18, 127, 120); width: 20px; }
    100% { background-color: rgba(35, 159, 240, 0.50); width: 40px; }
}
@keyframes chgcolor {
    0% { background-color: rgb(18, 127, 120); width: 20px; }
    100% { background-color: rgba(35, 159, 240, 0.50); width: 40px; }
}

* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

html {

}

body {
    font-size: 14px;
    font-family: "sinanova", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    background-color: #f8f8f8;
    margin: 0 auto;
    padding: 0;
}

li, .listing li {
    margin-left: 1.4em;
}

p {
    font-size: 16px;
    line-height: 30px;
    color: #333;
    margin: 0 0 15px;
}

/*-------------------------iconfont--------------------------*/
.iconfont {
    font-family: "ideexmenu" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.idarkgreen {
    color: #127F78;
}
.idarkgray {
    color: #888;
    transition: color .4s ease-in;
}
.idarkgray:hover {
    color: #127F78;
}
.ired {
    color: #b22;
}

/*--------------------------header------------------------------*/
#header {
    width: 100%;
    height: 80px;
    position: fixed;
    opacity: 0.8;
    left: 0;
    top: 0;
}
#header.bgColor{
    background-color: #eee;
    border-bottom: 1px solid #ddd;
}
#header.in {
    top: 0;
    -ms-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
#header.out {
    top: -85px;
    -ms-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

/*--------------------------logo------------------------------*/
#logo {
    float: left;
    height: 30px;
    width: 30px;
    margin-top: 23px;
    background-color: #127F78;
    z-index: 11;
}
#logo.logo-in {
    -webkit-transition-property: width, height, background-color, border;
    -moz-transition-property: width, height, background-color, border;
    -ms-transition-property: width, height, background-color, border;
    transition-property: width, height, background-color, border;

    -webkit-transition-duration: .25s, .25s, .25s, .25s;
    -moz-transition-duration: .25s, .25s, .25s, .25s;
    -ms-transition-duration: .25s, .25s, .25s, .25s;
    -o-transition-duration: .25s, .25s, .25s, .25s;
    transition-duration: .25s, .25s, .25s, .25s;

    -webkit-transition-delay: 0, .25s, .5s, .5s;
    -moz-transition-delay: 0, .25s, .5s, .5s;
    -ms-transition-delay: 0, .25s, .5s, .5s;
    -o-transition-delay: 0, .25s, .5s, .5s;
    transition-delay: 0, .25s, .5s, .5s;
}
#logo.logo-out {
    -webkit-transition-property: border, background-color, height, width;
    -moz-transition-property: border, background-color, height, width;
    -ms-transition-property: border, background-color, height, width;
    transition-property: border, background-color, height, width;

    -webkit-transition-duration: .25s, .25s, .25s, .25s;
    -moz-transition-duration: .25s, .25s, .25s, .25s;
    -ms-transition-duration: .25s, .25s, .25s, .25s;
    -o-transition-duration: .25s, .25s, .25s, .25s;
    transition-duration: .25s, .25s, .25s, .25s;

    -webkit-transition-delay: .25s, .25s, .25s, .5s;
    -moz-transition-delay: .25s, .25s, .25s, .5s;
    -ms-transition-delay: .25s, .25s, .25s, .5s;
    -o-transition-delay: .25s, .25s, .25s, .5s;
    transition-delay: .25s, .25s, .25s, .5s;
}
#logo:hover {
    width: 200px;
    background-color: #f8f8f8;
    height: 200px;
    border: 3px solid #127F78;
}
#logo .logo-word {
    margin: 30px 15px;
    background-color: #f8f8f8;
}
#logo .logo-word .logo-title {
    margin-bottom: 10px;
}
#logo .logo-word .logo-content {
    margin-left: 10px;
    line-height: 30px;

}
#logo .logo-word .logo-content span {
    float: left;
    display: block;
    margin-top: 10px;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    background-color: #127F78;
}
#logo .logo-word .logo-author {
    text-align: right;
}

/*--------------------------menu------------------------------*/
#menu {
    margin-right: 30px;
    margin-top: 30px;
}

#menu a {
    text-decoration: none;
}

#menu ul {
    float: right;
}

#menu ul li {
    float: left;
    margin-left: 1.8em;
    list-style-type: none;
}
#menu ul li a {

}
#menu ul li a:hover {

}

/*--------------------------content------------------------------*/
.center-content {
    width: 600px;
    margin: 0 auto;
    display: block;
    padding: 80px;
}

.center-content a {
    color: #127F78;
    text-decoration: none;
}

.center-content a:hover {
    color: #15aba1;
}

.center-content .post-title-desc a {
    color: #999;
    text-decoration: none;
}

.center-content .post-title-desc a:hover {
    color: #127F78;
}

.center-content .pad .post-logo {
    text-align: right;
    margin-bottom: 30px;
    z-index: 10;
}

.center-content .pad .post-logo img{
    max-width: 360px;
    width: 100%;
    -webkit-box-shadow: -1px -1px 40px #127F78;
    -moz-box-shadow: -1px -1px 40px #127F78;
    box-shadow: -1px -1px 40px #127F78;
}

.center-content .post-title {
    width: 100%;
    height: 40px;
    color: #127F78;
    font-family: "sinanova", "PMingLiu", "Microsoft YaHei", sans-serif;
    font-size: 32px;
    font-weight: bold;
    padding-top: 15px;
    position: relative;
    left: -100px;
    z-index: 10;
}

.center-content .tags {
    margin-left: 1em;
}

.center-content .post-title-desc {
    position: relative;
    left: -100px;
}

.center-content .pad {
    width: 100%;
    font-size: 14px;
    line-height: 30px;
}

.center-content .pad h1 {
    padding: 0.5em 0;
}

.center-content .pad img {
    max-width: 600px;
    width: 100%;
    margin: 4px auto;
    -webkit-box-shadow: -1px -1px 40px #127F78;
    -moz-box-shadow: -1px -1px 40px #127F78;
    box-shadow: -1px -1px 40px #127F78;
}

.center-content .content_post li {
    list-style-type: disc;
    padding: .2em 0;
}

.center-content .content_post ul, ol {
    list-style-position: inside;
}

.center-content .content_post ol ul, ul ol, ul ul, ol ol {
    margin-left: 1em;
}

.center-content .content_post ol ul li, ul ol li, ul ul li, ol ol li {
    list-style-type: circle;
}
.listing .listing-logo {
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #127F78;
    margin-right: 10px;
    cursor: pointer;
}
.listing .listing-logo:hover {

    animation-name:chgcolor;
    animation-duration:1s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
    animation-direction:alternate;

    -moz-animation-name:chgcolor;
    -moz-animation-duration:1s;
    -moz-animation-timing-function:linear;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:alternate;

    -webkit-animation-name:chgcolor;
    -webkit-animation-duration:1s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:alternate;

    -o-animation-name:chgcolor;
    -o-animation-duration:1s;
    -o-animation-timing-function:linear;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:alternate;

}
.listing-item, .listing-seperator {
    list-style-type: none;
}
.listing-item a {
    padding: 0.2em 2em;
}
.listing-item time {
    color: #768185;
    padding-left: 2.2em;
    font-family: "Verdana", sans-serif;
}
.listing-seperator {
    font-weight: bold;
    color: #3f4142;
}
.listing-item-a, .listing-seperator {
    font-family: "Verdana", "Microsoft YaHei", sans-serif;
}
pre code {
    margin: 1em 0;
    font-size: 13px;
    line-height: 1.6;
    display: block;
    overflow: auto;
}
blockquote {
    display: block;
    text-align: justify;
    border-left: 4px solid #bbb;
}
blockquote {
    margin: 1em 0em;
    padding-left: 1.5em;
}
blockquote p {
    margin: 0;
    padding: .5em 0;
}
code {
    background-color: #eee;
}
.meta {
    font-size: 15px;
}
h1 {
    font-family: "sinanova", "PMingLiu", "Microsoft YaHei", sans-serif;
    font-size: 2.2em;
    color: #1F7A68;
}
h2 {
    font-family: "sinanova", "PMingLiu", "Microsoft YaHei", sans-serif;
    font-size: 2em;
    color: #1F7A68;
    margin: 15px 0;
}
h3, h4, h5, h6 {
    font-family: "sinanova", "PMingLiu", "Microsoft YaHei", sans-serif;
    font-size: 1.8em;
    line-height: 1.2em;
    color: #1F7A68;
}

/*----------------------------tags-----------------------*/
#tag_cloud a {}
#tag_cloud a:hover {}

/*----------------------------copyright-----------------------*/
#footer {
    position: absolute;
    right: 30px;
    bottom: 20px;
    font-family: "sinanova", sans-serif;
    color: #71767C;
}

#footer a {
    text-decoration: none;
    color: #2fadca;
    font-weight: bold;
}

#footer a:hover {
    border-bottom: 1px dashed #2fadca;
}

/*------------update the adapt layout-----------*/
@media screen and (max-width: 600px) {
    body {
        font-size: 20px;
    }
    p {
        font-size: 20px;
    }
    #header {
        /*background-color: #eee;*/
        /*border-bottom: 1px solid #ddd;*/
        opacity: 0.95;
    }
    #menu ul {
        float: none;
    }
    .iconfont {
        font-size: 25px;
    }
    .center-content {
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 80px;
    }
    .center-content .pad {
        font-size: 20px;
    }
    .center-content .pad .post-logo {
        text-align: left;
    }
    .center-content .post-title {
        left: 0;
        padding-bottom: 15px;
    }
    .center-content .post-title-desc {
        left: 0;
    }
    .content {
        margin: 20px;
    }
    .center-content .pad .post-logo img {
        max-width: 100%;
    }
    .listing-item {
        display: none;
    }
    .listing-item a {
        padding-left: 0.5em;
    }
    .listing-item time {
        padding-left: 0;
    }
    .listing li {
        margin-left: 0;
        margin-bottom: 1em;
        line-height: 2em;
    }
    .listing .listing-logo {
        width: 2em;
        height: 2em;
    }
}
